.Headerr{
    background-color: #242427;
     display: flex;
     padding: 10px 2rem ;
     justify-content: space-around;
     align-items: center;
     border-bottom: 1px solid lightgray;
     margin: .3rem;
}
.logo{
    cursor: pointer;
    padding-left: 8rem;

}
.searchbar >input {
    background-color: #fafbfb ;
    border: 1px solid lightgray;
    outline: none;
    padding: 0.4rem;
    min-width: 220px;
    border-radius: 3px;
    padding-left: 0.3rem;
    padding-right: 3rem;

}
.searchbar>input::placeholder{
    padding-left: 2rem;
    color: #8f8f8e;
    font-weight: 200;
}
.searchbar>img{
    position: relative;
    left: 1.2rem;
    top: 3px;
    color: #8f8f8e;
}
.header_icons{
    font-size: 25px;
    cursor: pointer;
    min-width: 2oopx;
    padding: .2rem;
    padding-right: .5rem;
    align-self: center;
    padding-left: .6rem;
    
}
.icons{
    display:flex;
    justify-content: space-between;
    min-width: 2oopx;
    padding-right: 6rem;
    
}
@media screen and (max-width:893px) {
    .searchbar{
        display: none;
    }
    .logo{
        padding-left:   3rem !important;
        padding-right: 2rem;

    }
    .icons{
        padding:  0 2rem;
        padding-right: .3rem;
    }
    
}
.switch {
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .switch div {
    position: relative;
    display: block;
    background: #eee;
    width: 30px;
    border-radius: 50px;
    padding: 0 5px;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .fa-adjust {
    transform: rotate(180deg);
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    background-color: #999;
    transition: 0.4s;
    border-radius: 34px;
    height: 12px;
    width: 12px;
    display: inline-block;
    position: relative;
  }
  
  input:checked + .slider {
    transform: translateX(8px);
  }
  .colorww{
    color: #18181A;
  }
  input.search-query {
    background-color:#f47443;
    color:white;
}
input::-ms-fill{
    color: red;
    outline: 2px solid orange;  
   }
   input.visited {
     color: red;
    outline: 2px solid orange;  
   }